body{
    padding: 0;
    font-family: 'Open Sans', sans-serif !important;
}
a{
cursor:pointer;
}

.container-fluid{
    height: 100vh;
    display: flex;
    align-items: center;
    
}

.container-fluid#nav .logo-main{
position: absolute;
top: 10px;
left: 20px;
}
.container{
   text-align: center;
   max-width: 500px;
}
.logo-main{
    width: 200px;
    margin-bottom: 20px;
}
#search{
    display: flex;
    align-items: center;
    flex-direction: column;

}
#search input{
    width: 80%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #b0b0b0;
}
#search button{
    margin-left: 5px;
}
.main {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.navbar{
    border-bottom: 1px solid #ddd;
}

.navbar .nav-logo{
    width: 150px;
}

.card-title{
    margin: 20px 0;
    text-align: center;
    font-weight: 600;
}
.img.card-img-top{
    width: 100%;
    height: 100%;
}

#res .row{
    justify-content: center;
}
.container-1{
    display:flex;
    align-items:center;
    min-height:100vh;
  }

  .img-card-top {
    width: 100%;
    height: 166px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
  }
  .card{
      max-width: 300px;
  }
.card .pharm-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid #e4e4e4;
}

.card .pharm-img::after{ 
    content:"";
    display: block;
    padding-top: 80%;
}

#apteki .row div{
    margin-bottom: 20px;
}
#res .row div{
    margin-bottom: 20px;
}
#drop-res .row div{
    margin-bottom: 20px;
}
  #footnote{
      font-size: 13px;
      color: #747474;
     
  }

  #drop-container{
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    padding: 45px 0;

  }

  .card .mapouter{
      width: 100% !important;
  }

  .card .gmap_canvas{
      width: 100% !important;
  }


  #contct-naslov{
    color: #2c2c2c;
    text-align: center;
    margin: 0;
    background-color: #ccf8dc;
    padding: 20px 0;
    font-weight: 600;
  }

  #simb-boja{
      height: 15px;
      background-color: #90dfcf;
  }

  #lek-naslov{
      text-shadow: #6f9492;
      color: darkslategrey;
  }

  .form{
    text-align: left;
    background-color: #ffffff;
    border-radius: 2px;
    padding: 0;
    border: 1px solid #ddd;
  }

  .form-in{
      padding: 20px;
  }

  .form label{
    display: inline-block;
    margin: 1rem 0 .5rem 0;
    font-weight: 600;
    color: #5e5e5e;
  }